<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/dfba0bb4d8.js"></script>
</head>
<body>
    
    <section id="header">
        <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt=""></a>
        <div>            
            <ul id="navbar">
                <a href="#" id="close"><i class='fa fa-close'></i></a>
                <li>
                    <div class="form-group has-search" >
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('shop') }}">Shop</a></li>
                <!-- <li><a href="blog.html">Blog</a></li> -->
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a class="active" href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('no_cart') }}">Cart</a></li>
                <li><a href="{{ url_for('signup') }}">SignUp/Login</a></li>
                <!-- <li id="lg-bag"><a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li> -->
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            <i id="bar" class="fa fa-bars" aria-hidden="true"></i>          
        </div>
    </section>

    <section id="page-header" class="about-header">
        <h2>#Contact Us</h2>
        <p> Leave a message. We would love to hear from you....</p>
        <a href="#" class="to-top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit us or Contact us</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa fa-map" aria-hidden="true"></i>
                    <p>Delhi Technological University, Shahbad Daulatpur Village, Rohini, New Delhi, Delhi, 110042</p>
                </li>
                <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <p>ddkuchhal@gmail.com</p>
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>+91-XXXXXXXXXX</p>
                </li>
                <li>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p>10 am - 6 pm</p>
                </li>
            </div>
        </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6995.956970754648!2d77.11048904535667!3d28.750059308679546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0138a74f7da7%3A0xf09fad683c23bd5d!2sDelhi%20Technological%20University!5e0!3m2!1sen!2sin!4v1691869402183!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        
    </section>
 
    <section id="form-details">
        <form action="">
            <span>Leave a Message</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Enter your name">
            <input type="text" placeholder="Enter your Email">
            <input type="text" placeholder="Enter your Subjext">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="{{ url_for('static', filename='img/people/1.png') }}" alt="">
                <p><span>Dhruv Kuchhal</span> Software Engineering Undergraduate Student <br> Phone: +91 9996645233 <br> Email: contact@example.com</p>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/people/2.png') }}" alt="">
                <p><span>Dhruv Jain</span> Software Engineering Undergraduate Student <br> Phone: +91 8178966867 <br> Email: contact@example.com</p>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/people/3.png') }}" alt="">
                <p><span>Dhruv Malhotra</span> Software Engineering Undergraduate Student <br> Phone: +91 8810313774 <br> Email: contact@example.com</p>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign uP for Amazing Offers</h4>
            <p>Find <span>pocket-friendly</span> deals in your emails.</p>
        </div>
        <div class="form">
            <input type="text" placeholder="your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

   <footer class="section-p1">
    <div class="col">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        <h4>Contact</h4>
        <p><strong>Address :</strong> Delhi Technological University, Shahbad Daulatpur Village, Rohini, New Delhi, Delhi, 110042</p>
        <p><strong>Phone :</strong> +91-XXXXXXXXXX</p>
        <p><strong>Hours :</strong> 10 am - 6 pm</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="{{ url_for('about') }}">About us</a>
        <a href="{{ url_for('contact') }}">Delivery Information</a>
        <a href="{{ url_for('contact') }}">Privacy Policy</a>
        <a href="{{ url_for('contact') }}">Terms & Conditions</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
        <!-- <a href="#">About US</a> -->
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="{{ url_for('signup') }}">Sign In</a>
        <a href="{{ url_for('no_cart') }}">View Cart</a>
        <a href="{{ url_for('contact') }}">My Wishlist</a>
        <a href="{{ url_for('contact') }}">Track My Order</a>
        <a href="{{ url_for('contact') }}">Help</a>
    </div>


    <div class="col install">
        <h4>Install App</h4>
        <p>From app store or Google Play Store</p>
        <div class="row">
            <img src="{{ url_for('static', filename='img/pay/app.jpeg') }}" alt="">
            <img src="{{ url_for('static', filename='img/pay/play.jpeg') }}" alt="">
        </div>
        <p>Secured payment Gateways</p>
        <img src="img/pay/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>© 2023 Persona Picks, Inc. All Rights Reserved</p>
    </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
