
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/dfba0bb4d8.js"></script>
</head>
<body>

    <section id="header">
        <a href="{{ url_for('customer_index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt=""></a>
        <div>            
            <ul id="navbar">
                <a href="#" id="close"><i class='fa fa-close'></i></a>
                <li>
                    <div class="form-group has-search" >
                    <span class="fa fa-search form-control-feedback"></span>
                    <input class="form-control" id="search" type="text" placeholder="Type to search...">
                    <div id="autocompleteResults" style="display: none;"></div>

                  </div>
                </li>
                
                <li><a href="{{ url_for('customer_index') }}">Home</a></li>
                <li><a href="{{ url_for('customer_shop') }}">Shop</a></li>
                <!-- <li><a href="blog.html">Blog</a></li> -->
                <li><a class="active" href="{{ url_for('customer_about') }}">About</a></li>
                <li><a href="{{ url_for('customer_contact') }}">Contact</a></li>
                <li><a href="{{ url_for('customer_cart') }}">Cart</a></li>
                <li><a href="{{ url_for('signup') }}">Logout</a></li>
                <!-- <li id="lg-bag"><a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li> -->
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            <i id="bar" class="fa fa-bars" aria-hidden="true"></i>          
        </div>
    </section>


    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>KNOW US</p>
        <a href="#" class="to-top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </section>
  
    <section id="about-head" class="section-p1">
        <!-- <img src="{{ url_for('static', filename='img/about/a6.jpeg') }}" alt=""> -->
        <div>
            <h2>Who we are</h2>
            <p>We are <i>Persona Picks</i> the ultimate destination for an enhanced shopping experience. We specialize in offering top-notch products across various categories, tailored to your preferences. Our platform boasts a cutting-edge <b>personalized recommendation system</b> that ensures you discover products perfectly suited to your unique tastes and needs.
            </p>
            <p>
            At <b>Person Picks</b>, our commitment to excellence shines through. We meticulously assess the <b>quality</b> of all our merchandise, collaborating solely with <b>trusted suppliers</b> to guarantee the delivery of premium products. Our core values revolve around delivering <b>superior quality</b> and unparalleled <b>customer service</b>. Above all, we firmly believe that shopping should be <b>accessible to all</b>, transcending luxury into a right. This fuels our dedication to providing you with the finest items at the most <b>competitive prices</b>, conveniently shipped to your doorstep, no matter where you reside.
            </p>
            <!-- <abbr title="">Lorem ipsum dolor sit amet consectetur adipisicing eli</abbr> -->

            <br><br>

            <marquee bgcolor="#ccc" loop="-5"  scrollamount="10" width="100%">Upto 70% Off- All Electronics & Accessories</marquee>
        </div>
    </section>
    
    <section id="about-app" class="section-padding">
        <h2>Download Our <a href="#">app</a> </h2>
        <div class="video">
            <video autoplay muted loop src="{{ url_for('static', filename='img/about/1.mp4') }}"></video>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="{{ url_for('static', filename='img/features/f1.png') }}" alt="">
            <h6>Great offers, a touch away.</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='img/features/f2.png') }}" alt="">
            <h6>Always on time!.</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='img/features/f3.png') }}" alt="">
            <h6>Pocket-friendly options!.</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='img/features/f4.png') }}" alt="">
            <h6>Credit options available.</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='img/features/f5.png') }}" alt="">
            <h6>Well - trusted brands.</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='img/features/f6.png') }}" alt="">
            <h6>24x7 Customer Support.</h6>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <h4>Contact</h4>
            <p><strong>Address :</strong> Delhi Technological University, Shahbad Daulatpur Village, Rohini, New Delhi, Delhi, 110042</p>
            <p><strong>Phone :</strong> +91-XXXXXXXXXX</p>
            <p><strong>Hours :</strong> 10 am - 6 pm</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

    <div class="col">
        <h4>About</h4>
        <a href="{{ url_for('customer_about') }}">About us</a>
        <a href="{{ url_for('customer_about') }}">Delivery Information</a>
        <a href="{{ url_for('customer_about') }}">Privacy Policy</a>
        <a href="{{ url_for('customer_about') }}">Terms & Conditions</a>
        <a href="{{ url_for('customer_contact') }}">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="{{ url_for('signup') }}">Logout</a>
        <a href="{{ url_for('customer_cart') }}">View Cart</a>
        <a href="{{ url_for('customer_about') }}">My Wishlist</a>
        <a href="{{ url_for('customer_about') }}">Track My Order</a>
        <a href="{{ url_for('customer_about') }}">Help</a>
    </div>


    <div class="col install">
        <h4>Install App</h4>
        <p>From app store or Google Play Store</p>
        <div class="row">
            <img src="{{ url_for('static', filename='img/pay/app.jpeg') }}" alt="">
            <img src="{{ url_for('static', filename='img/pay/play.jpeg') }}" alt="">
        </div>
        <p>Secured payment Gateways</p>
        <img src="{{ url_for('static', filename='img/pay/pay.png') }}" alt="">
    </div>

    <div class="copyright">
        <p>© 2023 Persona Picks, Inc. All Rights Reserved</p>
    </div>
</footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
