<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce Website</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/dfba0bb4d8.js"></script>
  </head>
  <body>


    <section id="header">
      <a href="{{ url_for('customer_index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt=""></a>
      <div>            
          <ul id="navbar">
              <a href="#" id="close"><i class='fa fa-close'></i></a>
              <li>
                <div class="form-group has-search" >
                <span class="fa fa-search form-control-feedback"></span>
                <input class="form-control" id="search" type="text" placeholder="Type to search...">
                <div id="autocompleteResults" style="display: none;"></div>

              </div>
            </li>
              <li><a href="{{ url_for('customer_index') }}">Home</a></li>
                <li><a href="{{ url_for('customer_shop') }}">Shop</a></li>
                <!-- <li><a href="blog.html">Blog</a></li> -->
                <li><a href="{{ url_for('customer_about') }}">About</a></li>
                <li><a href="{{ url_for('customer_contact') }}">Contact</a></li>
                <li><a class="active" href="{{ url_for('customer_cart') }}">Cart</a></li>
                <li><a href="{{ url_for('signup') }}">Logout</a></li>
              <!-- <li id="lg-bag"><a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li> -->
          </ul>
      </div>
      <div id="mobile">
          <a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
          <i id="bar" class="fa fa-bars" aria-hidden="true"></i>          
      </div>
  </section>

    <section id="page-header" class="about-header">
      <h2>#YourCart</h2>
      <a href="#" class="to-top">
        <i class="fas fa-chevron-up"></i>
      </a>
    </section>

  <section id="product1" class="section-p1">
      <h2>Products for Checkout</h2>
     <div class="pro-container">


      <div class="pro">
        <img class="img" src="{{ url_for('static', filename='img/products/f1.jpeg') }}" alt="">
        <div class="des">
            <span>Adiddas</span>
            <h5 class="name">Orange Printed T-Shirt</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4 class="cost">$78</h4>
        </div>
        <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">  Add to Cart </button>
    </div>

    <div class="pro">
      <img class="img" src="{{ url_for('static', filename='img/products/f2.jpeg') }}" alt="">
      <div class="des">
          <span>Adiddas</span>
          <h5 class="name">Orange Printed T-Shirt</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4 class="cost">$78</h4>
      </div>
      <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">   Add to Cart </button>
  </div>

  <div class="pro">
    <img class="img" src="{{ url_for('static', filename='img/products/f3.jpeg') }}" alt="">
    <div class="des">
        <span>Adiddas</span>
        <h5 class="name">Orange Printed T-Shirt</h5>
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h4 class="cost">$78</h4>
    </div>
    <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">  Add to Cart</button>
</div>

<div class="pro">
  <img class="img" src="{{ url_for('static', filename='img/products/f4.jpeg') }}" alt="">
  <div class="des">
      <span>Adiddas</span>
      <h5 class="name">Orange Printed T-Shirt</h5>
      <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
      </div>
      <h4 class="cost">$78</h4>
  </div>
  <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">  Add to Cart</button>
</div>



          <div class="pro">
              <img class="img" src="{{ url_for('static', filename='img/products/n1.jpeg') }}" alt="">
              <div class="des">
                  <span>Adiddas</span>
                  <h5 class="name">Cotton shirts pure cotton</h5>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <h4 class="cost">$78</h4>
              </div>
              <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">  Add to Cart</button>
          </div>
          <div class="pro">
              <img class="img" src="{{ url_for('static', filename='img/products/n2.jpeg') }}" alt="">
              <div class="des">
                  <span>Adiddas</span>
                  <h5 class="name">Cotton shirts pure cotton</h5>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <h4 class="cost">$78</h4>
              </div>
              <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">  Add to Cart</button>
              <!-- <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a> -->
          </div>
          <div class="pro">
              <img class="img" src="{{ url_for('static', filename='img/products/n3.jpeg') }}" alt="">
              <div class="des">
                  <span>Adiddas</span>
                  <h5 class="name">Cotton shirts pure cotton</h5>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <h4 class="cost">$78</h4>
              </div>
              <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">  Add to Cart</button>
              <!-- <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a> -->
          </div>
          <div class="pro">
              <img class="img" src="{{ url_for('static', filename='img/products/n4.jpeg') }}" alt="">
              <div class="des">
                  <span>Adiddas</span>
                  <h5 class="name">Cotton shirts pure cotton</h5>
                  <div class="star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
                  <h4 class="cost">$78</h4>
              </div>
              <button class="btn-cart fa-sharp fa-solid fa-cart-shopping">  Add to Cart</button>              <!-- <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a> -->
          </div>
          
      </div>

  </section>


    <section id="page-header" class="about-header">
      <h2>Items in Cart</h2>
      <a href="#" class="to-top">
        <i class="fas fa-chevron-up"></i>
      </a>
    </section>

    <div class="small-container">
     <table class="table">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
    </table>
    

      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td class="cart-subtotal-price">$0.00</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>$35.00</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="cart-total-price">$0.00</td>
          </tr>
        </table>
      </div>
    </div>

    <section id="form-details">
      <form action="">
          <span>Leave a Message</span>
          <h2>We love to hear from you</h2>
          <input type="text" placeholder="Enter your name">
          <input type="text" placeholder="Enter your Email">
          <input type="text" placeholder="Enter your Subject">
          <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
          <button class="normal">Submit</button>
      </form>

      <div class="people">
          <div>
              <img src="{{ url_for('static', filename='img/people/1.png') }}" alt="">
              <p><span>Dhruv Kuchhal</span> Software Engineering Undergraduate Student <br> Phone: +91 9996645233 <br> Email: contact@example.com</p>
          </div>
          <div>
              <img src="{{ url_for('static', filename='img/people/2.png') }}" alt="">
              <p><span>Dhruv Jain</span> Software Engineering Undergraduate Student <br> Phone: +91 8178966867 <br> Email: contact@example.com</p>
          </div>
          <div>
              <img src="{{ url_for('static', filename='img/people/3.png') }}" alt="">
              <p><span>Dhruv Malhotra</span> Software Engineering Undergraduate Student <br> Phone: +91 8810313774 <br> Email: contact@example.com</p>
          </div>
      </div>
  </section>

  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign up for Amazing Offers</h4>
        <p>Find <span>pocket-friendly</span> deals in your emails.</p>
    </div>
    <div class="form">
        <input type="text" placeholder="your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        <h4>Contact</h4>
        <p><strong>Address :</strong> Delhi Technological University, Shahbad Daulatpur Village, Rohini, New Delhi, Delhi, 110042</p>
        <p><strong>Phone :</strong> +91-XXXXXXXXXX</p>
        <p><strong>Hours :</strong> 10 am - 6 pm</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

<div class="col">
    <h4>About</h4>
    <a href="{{ url_for('customer_about') }}">About us</a>
    <a href="{{ url_for('customer_cart') }}">Delivery Information</a>
    <a href="{{ url_for('customer_cart') }}">Privacy Policy</a>
    <a href="{{ url_for('customer_cart') }}">Terms & Conditions</a>
    <a href="{{ url_for('customer_contact') }}">Contact Us</a>
</div>

<div class="col">
    <h4>My Account</h4>
    <a href="{{ url_for('signup') }}">Logout</a>
    <a href="{{ url_for('customer_cart') }}">View Cart</a>
    <a href="{{ url_for('customer_cart') }}">My Wishlist</a>
    <a href="{{ url_for('customer_cart') }}">Track My Order</a>
    <a href="{{ url_for('customer_cart') }}">Help</a>
</div>


<div class="col install">
    <h4>Install App</h4>
    <p>From app store or Google Play Store</p>
    <div class="row">
        <img src="{{ url_for('static', filename='img/pay/app.jpeg') }}" alt="">
        <img src="{{ url_for('static', filename='img/pay/play.jpeg') }}" alt="">
    </div>
    <p>Secured payment Gateways</p>
    <img src="{{ url_for('static', filename='img/pay/pay.png') }}" alt="">
</div>

<div class="copyright">
    <p>© 2023 Persona Picks, Inc. All Rights Reserved</p>
</div>
</footer>
    <style>
      .btn-cart{
      padding: 10px
      }
    </style>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
